# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\cc\python\blueinheart\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
